/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.main {
  background-color: #2191f5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  background-color: #fff;
  height: 500px;
  width: 300px;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}
.plan-text {
  color: #afb1b4;
  font-weight: bold;
}
.btn {
  border-radius: 15px;
  background-color: #4ba2ff;
  color: #fff;
  border: 1px solid;
  padding: 13px 100px;
  margin: 20px 0px 0px 0px;
}
.btn:hover {
  background-color: #007aff;
}
.features {
  text-align: start !important;
  padding: 3px;
}
.features > span {
  margin-right: 5px;
}
.icon {
  font-size: small;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

* {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
